# Data types and their default function

# lst- list

In [4]:
lst =[ "sank" , 12 , 18.7 , [5 ,8 ,9]]

In [5]:
lst

['sank', 12, 18.7, [5, 8, 9]]

In [6]:
lst[2]

18.7

In [7]:
lst.append("kone")

In [8]:
lst

['sank', 12, 18.7, [5, 8, 9], 'kone']

In [16]:
lst.index(12)

1

In [20]:
lst.index([5, 8, 9])

3

In [22]:
lst[4]

'kone'

# DICT - Dictionaries

In [42]:
sk = {"apple":"6","mango":"10","lemon":"3"}

In [43]:
sk

{'apple': '6', 'mango': '10', 'lemon': '3'}

In [44]:
sk.get('apple')

'6'

In [45]:
sk.items()

dict_items([('apple', '6'), ('mango', '10'), ('lemon', '3')])

In [46]:
sk["mango"]

'10'

In [47]:
sk.keys()

dict_keys(['apple', 'mango', 'lemon'])

In [48]:
sk.values()

dict_values(['6', '10', '3'])

In [49]:
sk["orange"] = "7"

In [50]:
sk

{'apple': '6', 'mango': '10', 'lemon': '3', 'orange': '7'}

In [41]:
sk.pop("lemon")

'3'

In [51]:
type(sk)

dict

# st -sets

In [52]:
st={"abc",1,2,3,6,5,5,4,4,"xyz"}

In [53]:
st

{1, 2, 3, 4, 5, 6, 'abc', 'xyz'}

In [56]:
st1={1,3,5}

In [57]:
st2={9,8}

In [58]:
st1.issubset(st)

True

In [59]:
st2.issubset(st)

False

# tup-tuple

In [60]:
tup=("aaa","bbb","cccc","ddd")

In [61]:
tup

('aaa', 'bbb', 'cccc', 'ddd')

In [62]:
tup.count("ccc")

0

In [63]:
tup.index("ddd")

3

# str-string

In [64]:
str1 ="hello"

In [69]:
str2 = "world"

In [70]:
str1[1]

'e'

In [72]:
print('str1+ str2',str1+  str2)

str1+ str2 helloworld

In [73]:
print("str2*4",str2*4)

str2*4 worldworldworldworld